<div ng-if="skillsIfDetail" class="card cardBg">
  <div class="row" ng-repeat="skill in skills">
    <div class="col col-50">
      <div class="row">
        <div class="col col-10 wordRight"><i class="ion-leaf"></i></div>
        <div class="col col-90">{{skill.item1}}</div>
      </div>
    </div>
    <div class="col col-50">
      <div class="row">
        <div class="col col-10 wordRight"><i class="ion-leaf"></i></div>
        <div class="col col-90">{{skill.item2}}</div>
      </div>
    </div>
  </div>
</div>
